body {
  background-color: #173448 !important;
  color: #fff !important;
}

a {
  color: #ffc600 !important;
}

.header {
  background-color: #173448 !important;
  border-bottom: 1px solid #173448 !important;
}

.header-logo-invertocat {
  color: #fff !important;
}

.header-nav-link {
  color: #fff !important;
}

.alert {
  border-color: transparent !important;
}

.btn {
  color: rgba(255, 255, 255, 0.92) !important;
}

.topic-tag {
  background-color: #15232D !important;
}

.news div.message, .news li blockquote, .news .alert .simple .title {
  color: rgba(230, 222, 222, 0.85) !important;
}

.ajax-pagination-form .ajax-pagination-btn {
  background: #15232D !important;
}

/*right panel in home page*/
.github-jobs-promotion p {
  background-image: -webkit-linear-gradient(#173448, #173448) !important;
  background-image: linear-gradient(#173448, #173448) !important;
}

.github-jobs-promotion a.jobs-logo strong {
  color: #fff !important;
}

.boxed-group > h3, .boxed-group .heading {
  background-color: #173448 !important;
}

.boxed-group-inner {
  background-color: #173448 !important;
}

.filter-bar {
  background-color: #173448 !important;
}

.private .mini-repo-list-item {
  background-color: #15232D !important;
}

#repo_listing .repo {
  color: #ffc600 !important;
}

#repo_listing .owner {
  color: #FF9D00 !important;
}

/*for repo pages*/
#js-repo-pjax-container .text-gray {
  color: rgba(230, 222, 222, 0.85) !important;
}

.repohead span.fork-flag, .repohead span.mirror-flag {
  color: #00E676;
}

.pagehead {
  border-bottom: 1px solid #2C3A44 !important;
}

.social-count {
  background-color: #15232d !important;
}

.repohead.experiment-repo-nav {
  background-color: #173448 !important;
}

.reponav-item {
  color: rgba(230, 222, 222, 0.85) !important;
}

.reponav-item.selected {
  background-color: #2C3A44 !important;
  border-color: #ffc600 !important;
  color: #fff !important;
}

.text-gray-dark.mb-2 {
  color: #ffc600 !important;
}

.text-emphasized {
  color: #ffc600 !important;
}

.repository-lang-stats ol.repository-lang-stats-numbers li .lang {
  color: #13abdc !important;
}

.select-menu-header .select-menu-title, .select-menu-divider {
  color: #ffc600 !important;
}

.select-menu-item {
  background: #15232D !important;
  color: rgba(230, 222, 222, 0.85) !important;
}

.select-menu-item.navigation-focus, .select-menu-item.navigation-focus.selected, .select-menu-item.navigation-focus.select-menu-action, .select-menu-item.navigation-focus .description-inline {
  background: #173448 !important;
  color: #fff !important;
}

.repository-meta-content .text-gray-dark {
  color: rgba(230, 222, 222, 0.85) !important;
}

/*under code tab*/
.final-path {
  color: rgba(230, 222, 222, 0.85) !important;
}

.branch-infobar {
  color: #fff !important;
  background-color: #173448 !important;
}

.commit-tease {
  background-color: #173448 !important;
}

.commit-author-section {
  color: #fff !important;
}

table.files {
  background: #173448 !important;
}

table.files tr.navigation-focus td {
  background: #15232D !important;
}

.commit-tease-contributors {
  background-color: transparent !important;
}

.file-header {
  background-color: transparent !important;
}

.readme .markdown-body, .readme .plain {
  background: #173448 !important;
}

.table-list-header {
  background: #15232D !important;
}

.table-list-header-toggle .select-menu-button:hover, .table-list-header-toggle .select-menu-button.selected, .table-list-header-toggle .select-menu-button.selected:hover {
  color: rgba(230, 222, 222, 0.85) !important;
}

.select-menu-header, .select-menu-divider {
  background: #15232D !important;
}

.select-menu-filters {
  background: #15232D !important;
}

.select-menu-tabs a.selected, .select-menu-tabs .select-menu-tab-nav.selected {
  background: #2C3A44 !important;
}

.commits-list-item.navigation-focus {
  background: #15232D !important;
}

.commit-sha {
  background: #15232D !important;
}

/*left panel in settings*/
.menu {
  background: #15232D !important;
}

.menu-heading {
  background: #15232D !important;
}

.menu-item {
  text-shadow: none !important;
}

/*for profile page*/
.blankslate {
  background: #173448 !important;
}

.user-profile-nav {
  background: #0b1a25 !important;
  border-bottom: transparent !important;
}

.text-gray {
  color: rgba(255, 255, 255, 0.77) !important;
}

.user-profile-bio {
  color: rgba(255, 255, 255, 0.77) !important;
}

.muted-link {
  color: rgba(255, 255, 255, 0.77) !important;
}

.user-profile-sticky-bar::after {
  background: #0b1a25 !important;
}

/*.for dropdown menu*/
.dropdown-menu {
  background: #173448 !important;
}

.dropdown-signout {
  color: #fff !important;
}

/*for popup*/
.facebox-popup {
  background: #173448 !important;
}

/*for buttons*/
.btn {
  background: #15232D !important;
}

/*for graph section*/
.tint-box {
  background: #15232D !important;
}

.capped-card-content {
  background: #15232D !important;
}

.graph-filter .info {
  color: rgba(230, 222, 222, 0.85) !important;
}

.graph-canvas .activity {
  color: rgba(230, 222, 222, 0.85) !important;
}

.summary-stats .clones, .summary-stats li .num {
  color: rgba(230, 222, 222, 0.85) !important;
}

.flash {
  background: #15232D !important;
  color: rgba(230, 222, 222, 0.85) !important;
}

.graphs .day-name {
  fill: rgba(230, 222, 222, 0.85) !important;
}

.graphs circle.day {
  fill: rgba(230, 222, 222, 0.85) !important;
}

.graphs .label {
  fill: #fff !important;
}

#dependents .bg-gray-light, #dependents .bg-white {
  background-color: #173448 !important;
}

/*for timeline in profile page*/
.profile-timeline .profile-timeline-month-heading {
  background: #15232D !important;
  border: 1px solid #00E676 !important;
}

.profile-timeline .discussion-item-icon {
  background: #00E676 !important;
  border-color: #00E676 !important;
}

.profile-timeline-year-list.bg-white {
  background: #173448 !important;
}

/*for readme*/
.markdown-body .highlight pre, .markdown-body pre {
  background: #15232D !important;
}

.markdown-body table tr, .markdown-body table tr:nth-child(2n) {
  background: #173448 !important;
}

.markdown-body code {
  color: #ffc600 !important;
}

.type-javascript {
  background: #15232D !important;
}

/*this for javascript*/
.pl-smi, .pl-s .pl-s1 {
  color: #ffc600 !important;
}

.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra {
  color: #00E676 !important;
}

.pl-k {
  color: #FB94FF !important;
}

.pl-e, .pl-en {
  color: #c3cacf !important;
}

.blob-code-inner {
  color: #c3cacf !important;
}

.blob-num {
  color: rgba(230, 222, 222, 0.85) !important;
}

.issues-listing .timeline-comment-header, .issues-listing .discussion-timeline-actions, .issues-listing table, .issues-listing .comment-reactions.has-reactions, .repository-content .timeline-comment-header, .repository-content .discussion-timeline-actions, .repository-content table, .repository-content .comment-reactions.has-reactions {
  background: #173448 !important;
}

.issues-listing .timeline-comment-wrapper, .repository-content .timeline-comment-wrapper {
  border-color: transparent !important;
}

.issues-listing .new-discussion-timeline .closed-banner, .issues-listing .closed-banner, .repository-content .new-discussion-timeline .closed-banner, .repository-content .closed-banner {
  height: 0 !important;
  border-bottom: 15px solid #173448 !important;
}

.issues-listing .timeline-comment, .issues-listing .new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav, .issues-listing .timeline-new-comment .comment-form-head, .repository-content .timeline-comment, .repository-content .new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav, .repository-content .timeline-new-comment .comment-form-head {
  background: #15232D !important;
}

.issues-listing .navigation-focus, .repository-content .navigation-focus {
  background: #15232D !important;
}

.gh-header-meta, .css-truncate, .discussion-item-header {
  color: rgba(230, 222, 222, 0.85) !important;
}

.discussion-sidebar-heading {
  color: #fff !important;
}

.thread-subscription-status {
  background: #15232D !important;
}

.labelstyle-fbca04, .linked-labelstyle-fbca04 {
  color: black !important;
}

.labelstyle-e7e7e7, .linked-labelstyle-e7e7e7 {
  background: #00E676 !important;
  color: #fff !important;
}

.pagination .gap, .pagination .disabled, .pagination .gap:hover, .pagination .disabled:hover, .pagination a, .pagination span, .pagination em {
  background: #173448 !important;
}

.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus, .pagination em:hover, .pagination em:focus {
  background: #15232D !important;
}

.pagination .current, .pagination .current:hover {
  border-color: #00E676 !important;
}

.commit-ref {
  background: #15232D !important;
}

.tabnav-pr .tabnav-tab.selected, .tabnav-tab.selected {
  background: #2C3A44 !important;
  color: #fff !important;
}

.branch-action-body {
  background: #173448 !important;
}

.status-meta, .tabnav-tab {
  color: rgba(230, 222, 222, 0.85) !important;
}

.merge-status-item {
  background: #15232D !important;
}

.issues-listing .discussion-item-header .label-color a {
  color: black !important;
}

.issues-listing .link-gray-dark {
  color: #4078c0 !important;
}

.pr-toolbar {
  background-color: #173448 !important;
}

.diffbar {
  background-color: #173448 !important;
}

.btn-link.muted-link {
  color: #fff !important;
}

.full-commit {
  background-color: #173448 !important;
}

.full-commit p.commit-title {
  color: #fff !important;
}

.full-commit .commit-meta {
  background-color: #173448 !important;
}

.commit-desc pre {
  color: #fff !important;
}

.blob-code-deletion {
  background-color: #173448 !important;
}

.blob-num-deletion {
  background-color: #f44336 !important;
  color: #fff !important;
}

.blob-num-addition {
  background-color: #00E676 !important;
  color: #fff !important;
}

.blob-code-addition {
  background-color: #173448 !important;
}

.file-diff-split .empty-cell, .blob-code-hunk, .blob-code-expandable, .blob-num-hunk, .blob-num-expandable {
  background-color: #15232D !important;
}

.boxed-group-inner {
  color: rgba(230, 222, 222, 0.85) !important;
}

.simple-stacked-bar {
  background: #15232D !important;
}

.summary-stats li .num {
  color: #fff !important;
}

.summary-stats li a:hover {
  background: #15232D !important;
}

.diffstat-summary {
  color: rgba(230, 222, 222, 0.85) !important;
}

.diffstat-summary strong {
  color: #fff !important;
}

.orghead {
  background: #173448 !important;
  color: #fff !important;
}

.org-name {
  color: #ffc600 !important;
}

#js-pjax-container .text-gray, .py-1 {
  color: rgba(230, 222, 222, 0.85) !important;
}

#js-pjax-container .muted-link {
  color: #00E676 !important;
}

#js-pjax-container .muted-link:hover {
  color: #FF9D00 !important;
}

.pagehead-tabs-item.selected {
  background: #2C3A44 !important;
}

.simple-box {
  background: #173448 !important;
}

.simple-box h4 {
  color: #fff !important;
}

.simple-box .member-fullname {
  color: rgba(230, 222, 222, 0.85) !important;
}

.codesearch-aside .menu-item.selected {
  background-color: #173448 !important;
}

.codesearch-aside .filter-list li span.bar {
  background: #00E676 !important;
}

.auth-form .auth-form-header {
  color: #fff !important;
}

.auth-form .auth-form-body {
  background-color: #173448 !important;
}

#gist-pjax-container .timeline-comment, #gist-pjax-container .timeline-comment-header, #gist-pjax-container .discussion-timeline-actions, #gist-pjax-container .new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav {
  background: #173448 !important;
}

#gist-pjax-container .timeline-comment-header {
  color: rgba(230, 222, 222, 0.85) !important;
}

#gist-pjax-container .timeline-comment-wrapper {
  border: none;
}

#gist-pjax-container .link-gray-dark {
  color: #4078c0 !important;
}
