@import './colors.scss';

body{
	background-color: $mainblue !important;
	color: #fff !important;
}

a{
	color: #ffc600 !important
}

.header {
     background-color: $mainblue !important; 
     border-bottom: 1px solid $mainblue !important; 
}

.header-logo-invertocat {
    color: #fff !important;
}

.header-nav-link{
	color: #fff !important;
}

.alert{
	border-color: transparent !important;
}

.btn{
	color: rgba(255, 255, 255, 0.92) !important;
}

// timeline in homepage
.news div.message, .news li blockquote,.news .alert .simple .title{
	color:$lightwhite !important;
}

.ajax-pagination-form .ajax-pagination-btn{
	background:$darkblue !important;
}

/*right panel in home page*/
.github-jobs-promotion p{
	background-image: -webkit-linear-gradient($mainblue, $mainblue) !important;
    background-image: linear-gradient($mainblue, $mainblue) !important;
}

.github-jobs-promotion a.jobs-logo strong{
	color: #fff !important
}

.boxed-group>h3, .boxed-group .heading{
	background-color: $mainblue !important;
}

.boxed-group-inner{
	background-color: $mainblue !important;
}

.filter-bar{
	background-color: $mainblue !important;
}

.private .mini-repo-list-item {
    background-color: $darkblue !important;
}

/*for repo pages*/
#js-repo-pjax-container .text-gray{
	color:$lightwhite !important;
}
.repohead span.fork-flag, .repohead span.mirror-flag{
	color: #00E676;
}
.pagehead{
	border-bottom: 1px solid #2C3A44 !important;
}

.social-count{
	background-color: #15232d !important;
}

.repohead.experiment-repo-nav {
	background-color: $mainblue !important;
}

.reponav-item{
	color: $lightwhite !important; 
}

.reponav-item.selected {
    background-color: #2C3A44 !important;
    border-color: #ffc600 !important;
    color: #fff !important;
}

.text-gray-dark.mb-2{
    color: #ffc600 !important;
}

.text-emphasized{
	color: #ffc600 !important
}

.repository-lang-stats ol.repository-lang-stats-numbers li .lang{
	color: #13abdc !important;
}

// for dropdown for watch buttons
.select-menu-header .select-menu-title, .select-menu-divider{
	color:$yellow !important;
}
.select-menu-item{
	background:$darkblue !important;
	color:$lightwhite !important;
}

.select-menu-item.navigation-focus, .select-menu-item.navigation-focus.selected, .select-menu-item.navigation-focus.select-menu-action, .select-menu-item.navigation-focus .description-inline{
	background:$mainblue !important;
	color:$white !important;
}

.repository-meta-content{
	.text-gray-dark{
		color: $lightwhite !important;
	}
}

/*under code tab*/
.final-path{
	color: $lightwhite !important;
}

.branch-infobar{
	color: #fff !important;
	background-color: $mainblue !important;
}

.commit-tease{
	background-color: $mainblue !important;
}

.commit-author-section{
	color: #fff !important;
}

table.files{
	background: $mainblue !important; 
}

table.files tr.navigation-focus td {
    background: $darkblue !important;;
}

.commit-tease-contributors{
	background-color: transparent !important;
}

.file-header{
	background-color: transparent !important;
}

.readme .markdown-body, .readme .plain{
	background: $mainblue !important;
}

.table-list-header{
	background: $darkblue !important;
}

.table-list-header-toggle .select-menu-button:hover, .table-list-header-toggle .select-menu-button.selected, .table-list-header-toggle .select-menu-button.selected:hover{
	color: $lightwhite !important;
}

.select-menu-header, .select-menu-divider{
	background: $darkblue !important;
}

.select-menu-filters{
	background:$darkblue !important;
}

.select-menu-tabs a.selected, .select-menu-tabs .select-menu-tab-nav.selected{
	background: #2C3A44 !important;
}

/*left panel in settings*/
.menu{
	background: $darkblue !important;
}

.menu-heading{
	background: $darkblue !important;
}

.menu-item{
	text-shadow: none !important;
}

/*for profile page*/
.blankslate{
	background: $mainblue !important;
}

.user-profile-nav{
	background: #0b1a25 !important;
	border-bottom: transparent !important;
}

.text-gray{
	color: rgba(255, 255, 255, 0.77) !important;
}
.user-profile-bio{
	color: rgba(255, 255, 255, 0.77) !important;
}

.muted-link{
	color: rgba(255, 255, 255, 0.77) !important;
}

.user-profile-sticky-bar::after{
	background: #0b1a25 !important;
}

/*.for dropdown menu*/
.dropdown-menu{
	background: $mainblue !important;
}

/*for popup*/
.facebox-popup{
	background: $mainblue !important;
}

/*for buttons*/
.btn {
	background: $darkblue !important;
}

/*for graph section*/
.tint-box{
    background: rgba(6, 20, 33, 0.58) !important;
}
.capped-card-content{
    background: rgba(6, 20, 33, 0.58) !important;
}

/*for timeline in profile page*/
.profile-timeline {
	.profile-timeline-month-heading{
		background: $darkblue !important;
		border: 1px solid $green !important;
	}
	.discussion-item-icon{
		background: $green !important;
		border-color: $green !important;
	}
}

.profile-timeline-year-list.bg-white{
	background: $mainblue !important;
}

/*for readme*/
.markdown-body .highlight pre, .markdown-body pre{
	background: $darkblue !important;
}

.markdown-body table tr, .markdown-body table tr:nth-child(2n){
	background: $mainblue !important;
}

.markdown-body code{
	color:$yellow !important;
}

.type-javascript{
	background: $darkblue !important;
}

/*this for javascript*/
.pl-smi, .pl-s .pl-s1{
	color: #ffc600 !important;
}

.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra{
	color: #00E676 !important;
}

.pl-k{
	color: #FB94FF !important;
}

.pl-e, .pl-en {
    color: #c3cacf !important;
}

.blob-code-inner{
	color: #c3cacf !important;
}

.blob-num{
	color:$lightwhite !important;
}

// for issues tab
.issues-listing{
	.timeline-comment-header,.discussion-timeline-actions,table,.comment-reactions.has-reactions{
		background: $mainblue !important;
	}

	.timeline-comment-wrapper{
		border-color:transparent !important
	}

	.new-discussion-timeline .closed-banner,.closed-banner{
		height: 0 !important;
		border-bottom: 15px solid $mainblue !important;
	}

	.timeline-comment, .new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav, .timeline-new-comment .comment-form-head{
		background: $darkblue !important;
	}
	
	.navigation-focus{
		background: $darkblue !important;
	}
}

// for each issue details
.gh-header-meta,.css-truncate,.discussion-item-header{
	color:$lightwhite !important;
}

.discussion-sidebar-heading{
	color:$white !important;
}

.thread-subscription-status{
	background:$darkblue !important;
}

// for pull requests
.labelstyle-fbca04, .linked-labelstyle-fbca04{
	color:black !important;
}

.labelstyle-e7e7e7, .linked-labelstyle-e7e7e7{
	background:$green !important;
	color:$white !important;
}

.pagination .gap, .pagination .disabled, .pagination .gap:hover, .pagination .disabled:hover,.pagination a, .pagination span, .pagination em{
	background:$mainblue !important;
}

.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus, .pagination em:hover, .pagination em:focus{
	background:$darkblue !important;
}

.pagination .current, .pagination .current:hover{
	border-color:$green !important;
}

// for each pull request details
.commit-ref{
	background:$darkblue !important;
}
.tabnav-pr .tabnav-tab.selected,.tabnav-tab.selected{
	background: #2C3A44 !important;
	color:$white !important;
}

.branch-action-body{
	background: $mainblue !important;
}

.status-meta,.tabnav-tab{
	color:$lightwhite !important;
}

//for pulse tab
.boxed-group-inner{
	color:$lightwhite !important;
}
.simple-stacked-bar{
	background:$darkblue !important;
}

.summary-stats li .num{
	color:$white !important;
}

.summary-stats li a:hover{
	background:$darkblue !important;
}

// for organization page
.orghead{
	background:$mainblue !important;
	color:$white !important;
}

.org-name{
	color:$yellow !important;
}

 #js-pjax-container .text-gray,.py-1{
	color:$lightwhite !important;
}

 #js-pjax-container .muted-link{
	color:$green !important;
}

#js-pjax-container .muted-link:hover{
	color: $orange !important;
}

.pagehead-tabs-item.selected{
	background: #2C3A44 !important;
}

.simple-box{
	background:$mainblue !important;

	h4{
		color: $white !important;
	}

	.member-fullname{
		color: $lightwhite !important;
	}
}






