body, #appbar, .kappbar {
  background: #173448 !important;
}

#gb#gb a.gb_P, #gb#gb span.gb_P {
  color: rgba(230, 222, 222, 0.8) !important;
}

a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu, .kno-ecr-pt {
  color: #ffc600 !important;
}

.a, cite, cite a:link, cite a:visited, .cite, .cite:link, #_bGc > i, .bc a:link, ._W5e {
  color: #00E676 !important;
}

.mblink:visited, a:visited {
  color: #FF9D00 !important;
}

.vk_ans {
  color: #e6420c;
}

.commercial-unit-desktop-top, g-inner-card {
  background: #15232D !important;
}

._pvi {
  color: white !important;
}

.lr_dct_sf_sens, .lr_dct_sf_h, .lr_dct_ent_ph, #brs .med, .xpdopen .xpdxpnd, ._Rsi, ._tvg, ._V9o, ._Lbe {
  color: white !important;
}

.s {
  color: white !important;
}

.s .st em, .st.s.std em {
  color: #FF9D00 !important;
}

.rl_item {
  background: #15232D !important;
}

.rl_item .title, ._ojo {
  color: #ffc600 !important;
}

._Jw.kp-blk .mod, ._kTi .mod, ._Ajf, ._TCn, ._mMg, ._UCn, ._zjf, ._Jjg, ._gdf {
  color: rgba(230, 222, 222, 0.8) !important;
}
