html {
  background-color: #173448 !important;
}

body {
  background-color: #173448 !important;
  color: #fff !important;
}

a {
  color: #ffc600 !important;
}

/*for headers*/
.metabar {
  background-color: #173448 !important;
}

.svgIcon {
  fill: #fff !important;
}

/*for container*/
.democlass {
  background: #173448 !important;
  background-color: #173448 !important;
}

.cardChromeless {
  background: #173448 !important;
  border: 1px solid #fff !important;
}

.cardChromeless p {
  color: rgba(230, 222, 222, 0.85) !important;
}

.cardChromeless .label, .cardChromeless .label--radio {
  color: #fff !important;
}

.graf--coverTitle, .graf--h2, .graf--h3 {
  color: #ffc600 !important;
}

.graf--h4 {
  color: #ffc600 !important;
}

.postMetaInline {
  color: #fff !important;
}

.catalogPreview--borderless .catalogPreview-name, .catalogPreview--borderless .catalogPreview-description {
  color: #fff !important;
}

.heading {
  color: #fff !important;
}

.button--chromeless, .button--link {
  color: #fff !important;
}

/*for artice page*/
.metabar-logo .metabar-collectionNamePretext {
  color: #fff !important;
}

h3.metabar-logo {
  color: #ffc600 !important;
}

.postArticle {
  background-color: #173448 !important;
}

.graf--sectionCaption, .imageCaption {
  color: #BDBDBD !important;
}

.graf--pullquote {
  color: #fff !important;
}

hr.section-divider:before {
  color: #fff !important;
}

.card-description {
  color: #fff !important;
}

.graf--blockquote {
  border-left: 3px solid #00E676 !important;
}

.markup--mixtapeEmbed-strong, .markup--mixtapeEmbed-em, .u-tableCell .u-textColorDark {
  color: rgba(230, 222, 222, 0.8) !important;
}

/*for related posts*/
.relatedPostGridContainer {
  background-color: #173448 !important;
}

.u-fontSizeSmaller {
  color: #BDBDBD !important;
}

/*for response section*/
.responsesWrapper {
  background-color: #173448 !important;
}

.responsesStream-title .heading-title {
  color: #BDBDBD !important;
}

.inlineEditor-placeholder, .heading-title--semibold {
  color: #BDBDBD !important;
}

.streamItemConversation .heading-title {
  color: #fff !important;
}

.label--quote {
  color: #fff !important;
}

footer .js-responsesWrapper {
  background-color: #173448 !important;
  border-color: #fff;
}

.responsesStream .cardChromeless {
  background-color: #173448 !important;
  border-color: #fff;
}

.responsesStream .cardChromeless p, .responsesStream .cardChromeless .readingTime {
  color: rgba(230, 222, 222, 0.85) !important;
}

/*for post actioncard*/
.postActionsBar-content {
  background-color: #173448 !important;
}

.readNextPromo {
  background-color: #173448 !important;
}

.readNextPromo-postTitle {
  color: #ffc600 !important;
}

.u-uiTextSemibold, .u-textAlignCenter, .u-maxWidth1000 .u-textColorNormal, .u-fontSizeSmallest, .u-textUppercase {
  color: #fff !important;
}

.js-postFooterPlacements .u-backgroundGrayLightest {
  background-color: #173448 !important;
}

.col .u-backgroundWhite {
  background-color: #15232D !important;
}

.col .u-textColorDarkest {
  color: #ffc600 !important;
}

.popover {
  background: #173448 !important;
}
