@import './colors.scss';

html{
	background-color: $mainblue !important;
}

body{
	background-color: $mainblue !important;
	color: #fff !important;
}

a{
	color: $yellow !important;
}

/*for headers*/
.metabar{
	background-color: $mainblue !important;
}

.svgIcon{
	fill: #fff !important;
}

/*for container*/
.democlass{
	background: $mainblue !important;
	background-color: $mainblue !important;
}

.cardChromeless{
    background: $mainblue !important;
    border:1px solid #fff !important;

    p{
    	color: $lightwhite !important;
    }

    .label, .label--radio{
    	color: #fff !important;
    }
}

.graf--coverTitle, .graf--h2, .graf--h3{
	color: $yellow !important
}

.graf--h4{
	color: $yellow !important;
}

.postMetaInline{
	color: #fff !important;
}

.catalogPreview--borderless .catalogPreview-name, .catalogPreview--borderless .catalogPreview-description{
	color: #fff !important;
}

.heading{
	color: #fff !important;	
}

.button--chromeless, .button--link{
	color: #fff !important;
}

/*for artice page*/
.metabar-logo .metabar-collectionNamePretext{
	color: #fff !important;
}

h3.metabar-logo{
	color: $yellow !important;
}
.postArticle{
	background-color: $mainblue !important;
}

.graf--sectionCaption, .imageCaption{
	color: #BDBDBD !important;
}

.graf--pullquote{
	color: #fff !important;
}

.body.is-withMagicUnderlines .postArticle.is-withAccentColors .markup--quote.is-targeted{
	
}

hr.section-divider:before{
	color: #fff !important;
}

.card-description{
	color: #fff !important;
}

.graf--blockquote {
    border-left: 3px solid $green !important;
}

.markup--mixtapeEmbed-strong, .markup--mixtapeEmbed-em,.u-tableCell .u-textColorDark{
	color: rgba(230, 222, 222, 0.8) !important;
}
/*for related posts*/
.relatedPostGridContainer{
	background-color: $mainblue !important;
}

.u-fontSizeSmaller{
	color: #BDBDBD !important;
}

/*for response section*/
.responsesWrapper{
	background-color: $mainblue !important;
}

.responsesStream-title .heading-title{
	color: #BDBDBD !important;
}

.inlineEditor-placeholder, .heading-title--semibold{
	color: #BDBDBD !important;
}

.streamItemConversation .heading-title{
	color: #fff !important;
}

.label--quote{
	color: #fff !important;
}

footer .js-responsesWrapper{
	background-color: $mainblue !important;
	border-color:#fff;
}

.responsesStream .cardChromeless{
	background-color: $mainblue !important;
	border-color:#fff;

	p, .readingTime{
	color:$lightwhite !important;
	}
}

/*for post actioncard*/
.postActionsBar-content{
	background-color: $mainblue !important;
}

.readNextPromo{
	background-color: $mainblue !important;
}

.readNextPromo-postTitle{
	color: $yellow !important
}

//for share
.u-uiTextSemibold, .u-textAlignCenter, .u-maxWidth1000 .u-textColorNormal, .u-fontSizeSmallest, .u-textUppercase {
    color: #fff !important;
}

// for footer
.js-postFooterPlacements .u-backgroundGrayLightest{
	background-color: $mainblue !important;
}

.col .u-backgroundWhite{
	background-color: $darkblue !important;
}

.col .u-textColorDarkest{
	color:$yellow !important;
}

// for popover on images
.popover{
	background:$mainblue !important;
}

// for dropdown in menu
.metabar .popover,.popover-inner{
	background-color: $darkblue !important;
}

.popover{
	color: $lightwhite !important;
}

// for profile page
.site-main{
	background: $mainblue !important;
	
	.screenContent,.u-backgroundWhite{
		background-color: $mainblue !important;
	}

	.u-backgroundGrayLightest{
		background-color: $darkblue !important;
	}

	.hero-description,.label{
		color: $lightwhite;
	}
}







